.container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* position: relative;
  top: 640px; */
}

.blob {
  display: block;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  padding: 25px 45px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.whiteBlob {
  background-color: #ffffff;
}

.orangeBlob {
  background-color: #ffaa00;
}

.blob1 {
  grid-column: 8 / span 4;
  color: #003366; 
  position: relative;
  top: 50px;
}

.blob2 {
  position: relative;
  top: 50px;
  grid-column: 10 / span 4;
  color: #003366; 
}

.blob3 {
  grid-column: 2 / span 4;
  color: #003366; 
}

.connector {
  
}

.connector img {
 
}

.button { 
  margin-top: 15px; 
  padding: 12px 25px;
  background-color: #47c2ff;
  color: #003366;
  font-size: 18 px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* mobile responsiveness */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .blob1,
  .blob2,
  .blob3 {
    grid-column: 1 / span 1; 
    top: 0px;
  }

  .connector {
    display: none; 
  }
}

/* TO DO:
implement connector
connector responsive (hides and unhides)
blobs are responsive
*/