# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/strapi/types
/strapi/.strapi

# dependencies
/next/node_modules
/next/.pnp
/next/.pnp.js

# testing
/next/coverage

# next.js
/next/.next/
/next/out/

# production
/next/build

# misc
/next/.DS_Store
/next/*.pem

# debug
/next/npm-debug.log*
/next/yarn-debug.log*
/next/yarn-error.log*
/next/.pnpm-debug.log*

# local env files
/next/.env*.local
/next/.env

# vercel
/next/.vercel

# typescript
/next/*.tsbuildinfo
/next/next-env.d.ts


############################
# OS X
############################

**/.DS_Store

/strapi/.DS_Store
/strapi/.AppleDouble
/strapi/.LSOverride
/strapi/Icon
/strapi/.Spotlight-V100
/strapi/.Trashes
/strapi/._*


############################
# Linux
############################

/strapi/*~


############################
# Windows
############################

/strapi/Thumbs.db
/strapi/ehthumbs.db
/strapi/Desktop.ini
/strapi/$RECYCLE.BIN/
/strapi/*.cab
/strapi/*.msi
/strapi/*.msm
/strapi/*.msp


############################
# Packages
############################

/strapi/*.7z
/strapi/*.csv
/strapi/*.dat
/strapi/*.dmg
/strapi/*.gz
/strapi/*.iso
/strapi/*.jar
/strapi/*.rar
/strapi/*.tar
/strapi/*.zip
/strapi/*.com
/strapi/*.class
/strapi/*.dll
/strapi/*.exe
/strapi/*.o
/strapi/*.seed
/strapi/*.so
/strapi/*.swo
/strapi/*.swp
/strapi/*.swn
/strapi/*.swm
/strapi/*.out
/strapi/*.pid


############################
# Logs and databases
############################

/strapi/.tmp
/strapi/*.log
/strapi/*.sql
/strapi/*.sqlite
/strapi/*.sqlite3


############################
# Misc.
############################

/strapi/*#
/strapi/ssl
/strapi/.idea
/strapi/nbproject
/strapi/public/uploads/*
!/strapi/public/uploads/.gitkeep

############################
# Node.js
############################

/strapi/lib-cov
/strapi/lcov.info
/strapi/pids
/strapi/logs
/strapi/results
/strapi/node_modules
/strapi/.node_history

############################
# Tests
############################

/strapi/testApp
/strapi/coverage

############################
# Strapi
############################

/strapi/.env
/strapi/license.txt
/strapi/exports
/strapi/*.cache
/strapi/dist
/strapi/build
/strapi/.strapi-updater.json

/strapi/env_vars.*.yaml
