# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# local env files
/frontend/.env*.local
/frontend/.env

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts


############################
# OS X
############################

**/.DS_Store

/strapi/.DS_Store
/strapi/.AppleDouble
/strapi/.LSOverride
/strapi/Icon
/strapi/.Spotlight-V100
/strapi/.Trashes
/strapi/._*


############################
# Linux
############################

/strapi/*~


############################
# Windows
############################

/strapi/Thumbs.db
/strapi/ehthumbs.db
/strapi/Desktop.ini
/strapi/$RECYCLE.BIN/
/strapi/*.cab
/strapi/*.msi
/strapi/*.msm
/strapi/*.msp


############################
# Packages
############################

/strapi/*.7z
/strapi/*.csv
/strapi/*.dat
/strapi/*.dmg
/strapi/*.gz
/strapi/*.iso
/strapi/*.jar
/strapi/*.rar
/strapi/*.tar
/strapi/*.zip
/strapi/*.com
/strapi/*.class
/strapi/*.dll
/strapi/*.exe
/strapi/*.o
/strapi/*.seed
/strapi/*.so
/strapi/*.swo
/strapi/*.swp
/strapi/*.swn
/strapi/*.swm
/strapi/*.out
/strapi/*.pid


############################
# Logs and databases
############################

/strapi/.tmp
/strapi/*.log
/strapi/*.sql
/strapi/*.sqlite
/strapi/*.sqlite3


############################
# Misc.
############################

/strapi/*#
/strapi/ssl
/strapi/.idea
/strapi/nbproject
/strapi/public/uploads/*
!/strapi/public/uploads/.gitkeep

############################
# Node.js
############################

/strapi/lib-cov
/strapi/lcov.info
/strapi/pids
/strapi/logs
/strapi/results
/strapi/node_modules
/strapi/.node_history

############################
# Tests
############################

/strapi/testApp
/strapi/coverage

############################
# Strapi
############################

/strapi/.env
/strapi/license.txt
/strapi/exports
/strapi/*.cache
/strapi/dist
/strapi/build
/strapi/.strapi-updater.json
