.header {
  display: none;
}


@media (min-width: 640px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.25rem var(--gutter);
    position: absolute;
    z-index: 1000;
    isolation: isolate;
    height: 8.5rem; /* Hides the header */
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav a {
  font-size: 0.9rem;
  transition: color 0.4s ease-out;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
  .youniteLogo {
    position: relative;
  }
}
