.blob1 {
  grid-column: 8 / span 4;
  color: #003366;
  position: relative;
}

.blob2 {
  position: relative;
  top: calc(var(--connector-height) - 3px);
  grid-column: 10 / span 4;
  color: #003366;
}

.blob3 {
  grid-column: 2 / span 4;
  color: #003366;
}

.connector {
  position: absolute;
  bottom: 0;
  right: 2rem;
  transform: translateY(calc(100% - 2px));
  height: var(--connector-height);
}

.button {
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #47c2ff;
  color: #003366;
  font-size: 18 px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}

/* mobile responsiveness */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .blob1,
  .blob2,
  .blob3 {
    grid-column: 1 / span 1;
    top: 0px;
  }

  .connector {
    display: none;
  }
}
