.heading {
  color: #014788;
  font-weight: bold;
  align-content: center;
  font-size: 3rem; /* default size for larger screens */
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem; /* medium size for screens below 768px */
  }
}

.content {
  color: #014788;
  font-size: 1.125rem;
  max-width: 45ch;
}
.backgroundDots {
  display: flex;
  align-items: center;
  background-color: #fab34a;
  background-image: linear-gradient(to bottom, #ffc062f5, #ffc062f5),
    url(../../assets/home/Background_Dots.png);
  width: 100%;
}

.backgroundCol {
  padding: 3rem;
}
.backgroundImg {
  object-fit: cover;
  max-height: 80vh;
  width: 100%;
}

.Underline {
  width: 10rem;
  text-align: left;
  margin-left: 0;
  border-width: 0.2rem;
  border-radius: 0.2rem;
  border-color: #014788;
  margin-bottom: 2rem;
}
