.footer {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  background-color: white;
  padding: 1.5rem calc(var(--gutter) + 2rem);
}

.bottom {
  @apply bg-b-orange text-b-dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem var(--gutter);
}

.brandLogo {
  object-fit: contain;
  max-width: 100px;
  flex: 1 0 auto;
}

.bottom .younite {
  flex: 0;
  text-align: center;
}

.bottom .creditsPrivacy {
  flex: 1;
  text-align: end;
}

.bottom .socialsContainer {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}


.socialLogo {
  object-fit: contain;
  height: 32px;
  width: 32px;
}
