.footer {
  display: flex;
  flex-direction: column;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: white;
  padding: 1.5rem calc(var(--gutter) + 2rem);
}

.bottom {
  @apply bg-b-orange text-b-dark-blue;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem var(--gutter);
}

/* .top :nth-child(2),
.bottom :nth-child(2) {
  justify-self: center;
} */

/* .top :nth-child(3),
.bottom :nth-child(3) {
  justify-self: end;
} */

.brandLogo {
  object-fit: contain;
  max-width: 100px;
}

.bottom .younite {
  flex: 0;
  text-align: center;
}

.bottom .creditsPrivacy {
  flex: 1;
  text-align: end;
}

.bottom .socialsContainer {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}


.socialLogo {
  object-fit: contain;
  height: 32px;
  width: 32px;
}
